@import 'bootstrap/scss/bootstrap';
@import './pages/homepage.scss';
@import './pages/categories.scss';
@import './pages/sessions.scss';
@import './pages/userinfo.scss';
@import './pages/404.scss';
@import './partials/header.scss';
@import './partials/forms.scss';
@import './partials/photos.scss';
@import './partials/socials.scss';
@import './partials/filters.scss';

h1 {
    font-size: 42px;
    font-weight: 800;
    color: #9d64b3;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #9d64b3;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background: #FFFFFF;
}