.userinfo {
    &_info {
        p {
            font-size: 18px;
            span {
               font-weight: 600 !important;
            }
        }
    }

    &_socialmedia__container {
        &--single {
            background: #707070;
            color: #FFFFFF;
            div {
                margin: 10px 0;

                p {
                    margin: 0;
                }
            }
        }
    }
}